body{
  margin: 0;
  padding: 0;
}

#header{
  background: black;
  opacity: 0.9;
  color:white;
  height: 60px;
}
#home-icon{
  width: 200px;
  margin-left: 100px;
  height: 100%;
  background: gray;
  float: left;
}
#nav {
  float: left;
  width: 700px;
  margin-left: 30%;
  height: 100%;
  border-bottom: solid 1px black;
}
.nav-li-active{
  background: #fcc626;
  color: white;
}
#nav li{
  width: 150px;
  float: left;
  list-style: none;
  font-size: 20px;
  line-height: 3em;
  text-align: center;
  height: 100%;
}
#container{
  width:1000px;
  margin: auto;
}
#nav-list{
  width: 200px;
  height: 100%;
  position: absolute;
  float: left;
  background: #fcc626; 
}
#nav-list ul{
  padding-left: 10px;
}
#nav-list ul li{
  list-style: none;
  color: white;
  margin-top: 5px;
  font-size: 16px;
  line-height: 3em;
  text-indent: 50px;
  background: url(../imgs/af.jpg) no-repeat 10px center
}
#nav-list ul .nav-list-active{
  color: #fcc626;
  background:white url(../imgs/be.jpg) no-repeat 10px center
}
#content {
  width: 800px;
  margin-left: 200px;
  padding: 30px 30px;
}
.nodata{
  font-size: 24px;
  color: gray;
}
.title1{
  color: black;
  border-radius: 5px;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px gray;
  text-indent: 1em;
  line-height: 40px;
  font-size: 18px;
  background: rgb(250, 250, 250);
}
.title1 span{
  color: gray;
  border-left: solid 1px rgb(204, 204, 204);
  margin-left: 10px;
  padding-left: 10px;
}
.tips{
  border-top: solid 1px rgb(252, 198, 38);
  padding-bottom: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}
#tip .title{
  font-size: 24px;
  margin: 20px 0px;
  text-indent: 1em;
}
#tip .title span {
  color: gray;
  font-size: 15px;
  margin-left: 500px;
}
#tip .cont{
  text-indent: 4em;
  color: rgb(84, 84, 84);
  font-size: 15px;
  line-height: 20px;
}
#source .sources{
  width: 200px;
  text-align: center;
  border: 1px solid rgb(200,200,200);
  box-shadow: 1px 1px 1px rgb(245, 237, 237);
  border-radius: 5px;
  float: left;
  margin: 20px 20px;
  padding: 10px;
}



