<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properities -->
  <title>Friencher-Home</title>

  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/home.css">

  <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/home.js"></script>

</head>
<body>
  <div id="header">
    <div id="nav">
      <li class="nav-li-active">首页</li>
    </div>
    <div id="msg-num"></div>
    <div id="use-icon"></div>
  </div>
  <div id="container">
    <div id="nav-list">
      <ul>
        <li class="nav-list-active">我的课程</li>
        <li class="s-toptional">选择课程</li>
        <li class='t-optional'>添加课程</li>
        <li>通知</li>
        <li>作业</li>
        <li>课程资源</li>
      </ul>
    </div>
    <div id="content">
      <div id="road">首页 / 我的课程</div>
      <div class="cource">
        <img src="imgs/UML.jpg" />
        <div class="cource-name">系统分析与设计</div>
        <div class="cource-teacher">衣扬</div>
        <div class="cource-time">2015-3.1 - 2015.7.6</div>
      </div>
      <div class="cource">
        <img src="imgs/softwaretest.jpg" />
        <div class="cource-name">软件测试</div>
        <div class="cource-teacher">王欣明</div>
        <div class="cource-time">2015-3.1 - 2015.7.6</div>
      </div>
      <div class="cource">
        <img src="imgs/softwaretest.jpg" />
        <div class="cource-name">软件测试</div>
        <div class="cource-teacher">王欣明</div>
        <div class="cource-time">2015-3.1 - 2015.7.6</div>
      </div>
    </div>
  </div>
  <div id="footer"></div>
</body>
</html>